<html>
    <head>
        <title>Send Follow</title>
    </head>
    <body>
        <h1>Send a Follow!</h1>
        <div>
            <form action="/sendFollow" method="post" enctype="multipart/form-data">
                <input type="text" name="person" placeholder="Type a person's name" required/>
                <br/>
                
                <input type="submit" value="Send">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>
