<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*" required>
                <br/>
                <input type="text" name="caption" placeholder="Caption" required/>
                <br/>

                <input type="radio" name="allFollowers" value="1" required>Show all Followers
                <br/>
                <input type="radio" name="allFollowers" value="0">Show Friends Group
                <br/>
                If friends group was selected, please specify which friends group
                that you would like to show.
                <br/>
				<input type="text" name="groupName" placeholder="Friend Group Name"/>
                <br/>

                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>